<h1>Listing posts</h1>

<table>
	<tbody>
		<% @posts.each do |post| %>
		<tr>
			<td><b><%= post.title %></b></td>
		</tr>
		<tr>
			<td><%= post.body %></td>
		</tr>
		</tr>
		<td><%= link_to 'Show', post %>
		<%= link_to 'Edit', edit_post_path(post) %>
		<%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %> </td>
		</tr>
	
		<% end %>
	</tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
